// Reference _variables.scss
.sscounter-primary {
    background: $brand-primary;
}
.sscounter-secondary {
    background: $brand-secondary;
}
.sscounter-success {
    background: $brand-success;
}
.sscounter-danger {
    background: $brand-danger;
}
